<div class="container">
  <section class="mb-5">
    <table>
        <tr>
          <td width="30%">
            <h2 class="h1 py-5 font-weight-bold">My Projects</h2>
          </td>
          <td width="37%"></td>
          <td width="40%" align="right">
            <button type="button" style="width: 170px" mdbBtn color="primary" class="relative waves-light" (click)="addProject()" mdbWavesEffect>Add Project</button>
            <button type="button" style="width: 170px" mdbBtn color="primary" class="btn btn-info" (click)="createTemplate()" mdbWavesEffect>Add Template</button>
          </td>
        </tr>
    </table>
    <table mdbTable striped="true">
        <thead>
          <tr>
            <th class="text-center" *ngFor="let head of headers" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" mdbTableCol *ngFor="let proj of projects">
            <td>{{proj.Name}}</td>
            <td (click)="goToDrawings(proj.ProjectId)"><i class="fa fa-search pointer" [mdbTooltip]="'View ' + proj.Name + ' drawings'"></i></td>
            <td (click)="goToTemplates(proj.ProjectId)"><i class="fa fa-search pointer" [mdbTooltip]="'View ' + proj.Name + ' templates'"></i></td>
            <td>{{proj.CreatedDate | date: 'dd/MM/yyyy'}}</td>
            <td class="text-center">
              <i class="fa fa-edit pointer" [mdbTooltip]="'Edit ' + proj.Name" (click)="editProject(proj)"></i>
               |
              <i class="fa fa-trash-alt pointer" [mdbTooltip]="'Delete ' + proj.Name" (click)="deleteProject(proj)"></i>
            </td>
          </tr>
        </tbody>
      </table>
  </section>
  <div mdbModal #projectModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="projectModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" *ngIf="selectedProject.ProjectId == null" id="myModalLabel">New Project Name</h4>
          <h4 class="modal-title w-100" *ngIf="selectedProject.ProjectId != null" id="myModalLabel">Edit: {{selectedProject.Name}}</h4>
        </div>
        <div class="modal-body">
          <form class="border border-light p-3" #projectForm>
            <div class="form-row mb-2">
              <input type="text" name="ProjectName" placeholder="Project Name" style="width: 90%; margin-right: 5px;"
                    [(ngModel)]="selectedProject.Name" #ProjectName="ngModel"
                     [ngClass]="{
                      'is-valid': ProjectName.valid,
                      'is-invalid': !ProjectName.valid}" required="true">
              <i *ngIf="ProjectName && ProjectName.valid" class="fas fa-check-circle fa-2x" style="color: green;"></i>
            </div>
          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="hideDialog()"
            mdbWavesEffect>Close</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="saveProject()" mdbWavesEffect>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
