<div class="container">
    <section class="mb-5">
      <table>
        <tr style="width: 100%;">
          <td style="width: 30%;">
            <h2 class="h1 py-5 font-weight-bold">Drawings</h2>
          </td>
          <td style="width: 60%;"></td>
          <td style="width: 30%;">
            <button type="button" style="width: 170px;" mdbBtn color="primary" class="btn pull-right"
              (click)="addDrawing()" mdbWavesEffect>Add Drawings</button>
          </td>
        </tr>
    </table>
      <table mdbTable striped="true">
          <thead>
            <tr>
              <th class="text-center" *ngFor="let head of headers" scope="col">{{head}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" mdbTableCol *ngFor="let drawingRow of drawingTableRows">
              <td>{{drawingRow.Name}}</td>
              <td>{{drawingRow.ContainerUrl}}</td>
              <td (click)="goToProperties(drawingRow.DrawingId)"><i class="fa fa-search pointer" [mdbTooltip]="'View ' + drawingRow.Name + ' properties'"></i></td>
              <td>{{drawingRow.CreatedDate | date: 'd-MMM-yyyy'}}</td>
              <td class="text-center">
                <i class="fa fa-trash-alt pointer" (click)="deleteDrawing(drawingRow)" [mdbTooltip]="'Delete ' + drawingRow.name"></i>
              </td>
            </tr>
          </tbody>
        </table>
    </section>
    
    <div mdbModal #drawingModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <div>
              <button type="button" class="close pull-right" aria-label="Close" (click)="drawingModal.hide()">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title w-100" id="myModalLabel">Upload Drawings</h4>
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group" width="100%" style="width: 100%">
              <div class="form-row mb-2">
                <div class="form-column mb-2" width="20%" style="width: 20%; padding-left: 10px; padding-top: 5px;">
                  <h5 class="modal-title w-100" id="modalTemplateLabel">Select template</h5>
                </div>
                <div class="form-row mb-2" width="80%" style="width: 80%; padding-left: 10px; padding-right: 10px;">
                  <!-- <select [ngModel]="templateType" (ngModelChange)="onChange($event)" class="selectpicker form-control"
                      data-style="btn-info" data-width="78%">
                    <option *ngFor="let t of templates" [value]=t.ProfileVersionId>{{t.Name}}</option>
                  </select> -->
                  <!-- <select class="custom-select browser-default"
                      [(ngModel)]=template.ProfileAttributes[i].StandardAttributeId>
                      <option  *ngFor="let sa of standardAttributes"
                          [value]="sa.StandardAttributeId">
                          {{sa.Name}}
                      </option>
                  </select> -->
                  <select class="custom-select browser-default"
                      [ngModel]=templateId (ngModelChange)="onChange($event)">
                      <option  *ngFor="let t of templates"
                          [value]="t.ProfileVersionId">
                          {{t.Name}}
                      </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="ui-g-12">
                <!-- Line 1 -->
                <p-fileUpload [style]="{'width': '100%'}" #uploadControl mode="advanced" name="demo[]" 
                    customUpload="false" [multiple]="true" maxFileSize="10000000" (uploadHandler)="readDrawings($event)"
                    [showUploadButton]="false" accept="image/x-png,image/gif,image/jpeg,application/pdf" 
                    [showCancelButton]="true" [chooseLabel]="'Select File(s)'">
                </p-fileUpload>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="uploadControl.clear(); drawingModal.hide()"
              mdbWavesEffect>Close</button>
            <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="upload()" mdbWavesEffect>Upload</button>
          </div>
        </div>
      </div>
    </div>
  </div>