<div class="container">
    <section class="text-center">
        <!--Section heading-->
        <h2 class="h1 py-5 font-weight-bold">Selecting Your Industry</h2>
        <!--Section description-->
        <p class="px-5 mb-3 pb-3 lead grey-text">Please choose the associated industry for the documents you wish to
            archive</p>
    
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-12 col-md card p-4 m-1 pointer" mdbWavesEffect (click)="setIndustry('construction')">
                <i class="fa fa-building fa-3x cyan-text"></i>
                <h5 class="font-weight-bold mt-3">Construction</h5>
                <p class="grey-text">Send in technical documents for scanning to build an interactive archive of your organisations work, 
                    save time, money and frustration.
                </p>
            </div>
            <!--Grid column-->
    
            <div class="col-12 col-md card p-4 m-1 pointer" mdbWavesEffect (click)="setIndustry('IT')">
                <i class="fa fa-desktop fa-3x mediumSeaGreen-text"></i>
                <h5 class="font-weight-bold mt-3">IT</h5>
                <p class="grey-text">Send in diagrams, check-in schedules and source code for scanning to build an interactive archive of your organisations work, 
                    save time, money and frustration.
                </p>
            </div>
    
            <!--Grid column-->
            <div class="col-12 col-md card p-4 m-1 pointer" mdbWavesEffect (click)="setIndustry('finance')">
                <i class="fa fa-hand-holding-usd fa-3x orange-text"></i>
                <h5 class="font-weight-bold mt-3">Finance</h5>
                <p class="grey-text">Send in financial documents for secure scanning to build an interactive archive, 
                        save time, money and frustration
                </p>
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
        
        <!--Grid row-->
        <div class="row">
            
            <!--Grid column-->
            <div class="col-12 col-md card p-4 m-1 pointer" mdbWavesEffect (click)="setIndustry('energy')">
                <i class="fa fa-power-off fa-3x red-text"></i>
                <h5 class="font-weight-bold mt-3">Energy</h5>
                <p class="grey-text">Send in technical documents for scanning to build an interactive archive of your organisations work, 
                    save time, money and frustration.
                </p>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-12 col-md card p-4 m-1 pointer" mdbWavesEffect (click)="setIndustry('healthcare')">
                <i class="fas fa-clinic-medical fa-3x blue-text"></i>
                <h5 class="font-weight-bold mt-3">Healthcare</h5>
                <p class="grey-text">Send medical, procedure or approval for scanning to build an interactive archive of your components, 
                    save time, money and frustration
                </p>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-12 col-md card p-4 m-1 pointer" mdbWavesEffect (click)="setIndustry('pharmaceutical')">
                <i class="fa fa-capsules fa-3x red-text"></i>
                <h5 class="font-weight-bold mt-3">Pharmaceutical</h5>
                <p class="grey-text">Send in test, trial and results documents for secure scanning to build an interactive archive, 
                        save time, money and frustration
                </p>
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
            
            <!--Grid column-->
            <div class="col-12 col-md card p-4 m-1 pointer" mdbWavesEffect (click)="setIndustry('government')">
                <i class="fas fa-award fa-3x black-text"></i>
                <h5 class="font-weight-bold mt-3">Government</h5>
                <p class="grey-text">Send in policies, applications, submissions and other documents for scanning to build an interactive archive of your organisations work, 
                    save time, money and frustration.
                </p>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-12 col-md card p-4 m-1 pointer" mdbWavesEffect (click)="setIndustry('legal')">
                <i class="fas fa-balance-scale fa-3x darkblue-text"></i>
                <h5 class="font-weight-bold mt-3">Legal</h5>
                <p class="grey-text">Send applications, statutes, writs and other standard documents to build an interactive archive of your components, 
                    save time, money and frustration
                </p>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-12 col-md card p-4 m-1 pointer" mdbWavesEffect (click)="setIndustry('manufacturing')">
                <i class="fas fa-industry fa-3x brown-text"></i>
                <h5 class="font-weight-bold mt-3">Manufacturing</h5>
                <p class="grey-text">Send in document documents for secure scanning to build an interactive archive, 
                        save time, money and frustration
                </p>
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->

    </section>
</div>
