.video {
    width: 100%;    /* Reset width */
    height: auto;   /* Reset height */
}

.react-player {
    padding-top: 56.25%;    /* Percentage ratio for 16:9 */
    position: relative;     /* Set to relative */
}

.react-player > div {
    position: absolute; /* Scaling will occur since parent is relative now */
    z-index: 0;
}

.overlay {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.overlayText {
    color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 9vw;
    text-align: center;
  }