<div class="container">
  <section class="mb-5">
    <table>
        <tr>
          <td width="100%">
            <h2 class="h1 py-5 font-weight-bold" *ngIf="drawingProperties.FileName != null">Drawing: {{drawingProperties.FileName}}</h2>
          </td>
        </tr>
    </table>
    <table mdbTable striped="true">
        <thead>
          <tr>
            <th class="text-center" *ngFor="let head of headers" scope="col">{{head}}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" mdbTableCol *ngFor="let a of drawingProperties.Properties">
            <td style="text-align:left;">{{a.StandardName}}</td>
            <td style="text-align:left;">{{a.Name}}</td>
            <td style="text-align:right;">{{a.NameX.toLocaleString('en-us', {minimumFractionDigits: 0})}}</td>
            <td style="text-align:right;">{{a.NameY.toLocaleString('en-us', {minimumFractionDigits: 0})}}</td>
            <td style="text-align:left;">{{a.Words}}</td>
            <td style="text-align:right;">{{a.ValueX.toLocaleString('en-us', {minimumFractionDigits: 0})}}</td>
            <td style="text-align:right;">{{a.ValueY.toLocaleString('en-us', {minimumFractionDigits: 0})}}</td>
            <td class="text-center">
              <i class="fa fa-edit pointer" [mdbTooltip]="'Edit ' + a.ProfileAttributeId" (click)="addOrEditProperties(p)"></i>
                |
              <i class="fa fa-trash-alt pointer" [mdbTooltip]="'Delete ' + a.ProfileAttributeId" (click)="deleteProperties(p)"></i>
            </td>
          </tr>
        </tbody>
      </table>
  </section>
</div>
