<div class="container">
  <section class="mb-5">
    <table>
        <tr>
          <td width="100%">
            <!-- <h2 class="h1 py-5 font-weight-bold" *ngIf="drawingProperties.FileName != null">Drawing: {{drawingProperties.FileName}}</h2> -->
          </td>
        </tr>
    </table>
    <table mdbTable striped="true">
        <thead>
          <tr>
            <th class="text-center" *ngFor="let head of headers" scope="col">{{head}}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" mdbTableCol *ngFor="let a of drawingProperties; index as i;">
            <td style="text-align:left;">{{a.StandardName}}</td>
            <td style="text-align:left;">{{a.Name}}</td>
            <td *ngIf="enableEdit">
              <input [required]="required" [name]="value" [(ngModel)]="a.Value" [placeholder]="label" />
            </td>
            <td *ngIf="!enableEdit" style="text-align:left;">{{a.Value}}</td>
            <td style="text-align:left;">{{a.Confidence}}</td>
            <td class="text-center">
              <i *ngIf="enableEdit && enableEditIndex == i" class="fa fa-ban pointer" (click)="enableEdit=false" ng-click="cancel()"></i>
                |
              <i *ngIf="enableEdit && enableEditIndex == i" class="fa fa-check-circle pointer" id="saveBtn" (click)="updateDrawingProperty(a.Id, a.Value)"></i>
              <i *ngIf="!enableEdit" class="fa fa-edit pointer" [mdbTooltip]="'Edit ' + a.Id" (click)="enableEditMethod(i)"></i>
                |
              <i class="fa fa-trash-alt pointer" [mdbTooltip]="'Delete ' + a.Id" (click)="deleteDrawingProperty(p)"></i>
            </td>
          </tr>
        </tbody>
      </table>
  </section>
</div>
