<div class="container">
  <h4>Properties</h4>
  <!--<section class="mb-5">
     <table>
      <tr>
        <td width="30%">
          <h2 class="h1 py-5 font-weight-bold">Drawing Profile/Templates</h2>
        </td>
        <td width="37%"></td>
        <td width="40%" align="right">
          <button type="button" style="width: 170px" mdbBtn color="primary" class="btn btn-info"
            (click)="createProperties()" mdbWavesEffect>Add Template</button>
        </td>
      </tr>
    </table>
    <table mdbTable striped="true">
      <thead>
        <tr>
          <th class="text-center" *ngFor="let head of headers" scope="col">{{head}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" mdbTableCol *ngFor="let pv of profileVersions">
          <td>{{pv.Name}}</td>
          <td (click)="goToAttributes(pv.PropertiesId)"><i class="fa fa-search pointer"
              [mdbTooltip]="'View ' + pv.Name + ' attributes'"></i></td>
          <td>{{pv.HeightOriginal}}</td>
          <td>{{pv.WidthOriginal}}</td>
          <td>{{pv.CreatedDate | date: 'd-MMM-yyyy'}}</td>
          <td class="text-center">
            <i class="fa fa-edit pointer" [mdbTooltip]="'Edit ' + pv.Name" (click)="addOrEditProperties(pv)"></i>
            |
            <i class="fa fa-trash-alt pointer" [mdbTooltip]="'Delete ' + pv.Name" (click)="deleteProperties(pv)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <div mdbModal #profileVersionModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="profileVersionModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" *ngIf="selectedProperties.profileVersionId == null" id="myModalLabel">New
            Profile / Template</h4>
          <h4 class="modal-title w-100" *ngIf="selectedProperties.profileVersionId != null" id="myModalLabel">Edit:
            {{selectedProperties.Name}}</h4>
        </div>
        <div class="modal-body">
          <form class="border border-light p-3" [formGroup]="profileVersionForm">
            <div *ngIf="profileVersionForm.get('Name').hasError('required')" class="form-row mb-2"
              style="height: 25%; padding-bottom: 0%;">
              <div class="col-sm-3" style="height: 25%; padding-bottom: 0%;">
                <small>Required</small>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="hideDialog()"
            mdbWavesEffect>Close</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light"
            [disabled]="!profileVersionForm.dirty || !profileVersionForm.valid" (click)="saveProfileAttribute()"
            mdbWavesEffect>Save</button>
        </div>
      </div>
    </div> 
  </div> -->
</div>